@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
    background-color: #282e34;
  }

  li, a, button{
    font-family: "Bebas Neue";
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;

  }

  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 3%;

  }

  .logo{
    cursor: pointer;
    max-width: 100px;
    max-height: 35px;


    margin-right: 3%;
    
  }

  .nav__links{
    list-style: none;
    padding-left: 0px;
  }

  .nav__links li {
    display: inline;
    padding-right: 15px;
    padding-left: 20px;
  }

  .nav__links a{
    transition: all 0.3s ease 0s;
  }


  .nav__links li a:hover{
    color: rgba(0, 136, 169, 1);
  }

  button{
    margin-left: 10px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  button:hover{
    background-color: rgba(0, 136, 169, 0.8);
  }

  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
  .pimg1{
    background-image:url('HackLand.jpg');
    min-height:100%;
  }
  
  .pimg2{
    background-image:url('Hackathon.jpg');
    min-height:400px;
  }
  
  .pimg3{
    background-image:url('Champions.jpg');
    min-height:400px;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  .ptext .border{
    background-color:#282e34;
    color:rgb(255, 255, 255);
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:#282e34;
  }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
  }
  